streamlit==1.41.1
qdrant-client==1.12.1
SQLAlchemy==2.0.36
python-dotenv==1.0.1
openai==1.58.1
requests==2.32.3
pydantic==2.10.4
pypdf==5.1.0
reportlab==4.2.5
chardet==5.2.0
pandas==2.2.3
numpy==2.2.1
tenacity==9.0.0
sqlparse==0.5.3
pytest==8.3.4
